.container {
  max-width: 1500px; /* 전체 컨테이너의 최대 너비를 설정 */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; /* 버튼들이 양 끝에 위치하도록 설정 */
  position: relative; /* 포스터와 버튼이 배경 위에 위치하도록 설정 */
  overflow: hidden; /* 슬라이드 애니메이션이 컨테이너를 벗어나지 않도록 설정 */
  padding: 20px 0; /* 위아래 여백 추가 */
}

.sliderWrapper {
  overflow: hidden;
  width: calc((200px + 20px * 2) * 5); /* 포스터 5개의 너비와 간격에 맞게 고정 */
  display: flex;
  justify-content: flex-start;
}

.movieItems {
  display: flex;
  transition: transform 0.5s ease; /* 슬라이드 애니메이션 */
}

.movieItem {
  box-sizing: border-box;
  flex: 0 0 200px; /* 각 포스터의 너비를 200px로 고정 */
  margin: 20px;
  margin-top: 20px; /* 포스터 위아래 간격 추가 */
  margin-bottom: 15px; /* 포스터 위아래 간격 추가 */
  object-fit: cover;
  width: 100%;
  transition: transform 0.2s ease, border-image 0.2s ease;
  border: 2px solid transparent;
}

.movieItem.loading {
  opacity: 0;
  transform: scale(0.8);
}

.movieItem.loaded {
  opacity: 1;
  transform: scale(1);
}

.movieItem:last-child {
  margin-right: 0; /* 마지막 포스터는 마진 제거 */
}

/* NowPlayingMovies.module.css */

/*@keyframes gradientBorder {*/
/*         0% {*/
/*           border-image: linear-gradient(0deg, #ff00ff, #8400ff, #d691ce, #d6d69f) 1;*/
/*         }*/
/*         25% {*/
/*           border-image: linear-gradient(90deg, #ff00ff, #00ffff, #00ff00, #ffff00) 1;*/
/*         }*/
/*         50% {*/
/*           border-image: linear-gradient(180deg, #ff00ff, #00ffff, #00ff00, #ffff00) 1;*/
/*         }*/
/*         75% {*/
/*           border-image: linear-gradient(270deg, #ff00ff, #00ffff, #00ff00, #ffff00) 1;*/
/*         }*/
/*         100% {*/
/*           border-image: linear-gradient(360deg, #ff00ff, #00ffff, #00ff00, #ffff00) 1;*/
/*         }*/
/*       }*/

.movieImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.2s ease, border-image 0.2s ease;
    border: 2px solid transparent;
}

@keyframes gradientBorder {
    0% {
        border-image: linear-gradient(0deg, #e61fe6, #3effff, #f684ff, #85a2ff) 1;
    }
    25% {
        border-image: linear-gradient(90deg, #e61fe6, #3effff, #f684ff, #85a2ff) 1;
    }
    50% {
        border-image: linear-gradient(180deg, #e61fe6, #3effff, #f684ff, #85a2ff) 1;
    }
    75% {
        border-image: linear-gradient(270deg, #e61fe6, #3effff, #f684ff, #85a2ff) 1;
    }
    100% {
        border-image: linear-gradient(360deg, #e61fe6, #3effff, #f684ff, #85a2ff) 1;
    }
}

.movieImg:hover {
    transform: scale(1.1);
    animation: gradientBorder 4s infinite linear;
}

.navButton {
  padding: 10px;
  background-color: transparent;
  color: #6EBBDBFF; /* 수정: 버튼 텍스트 색상 변경 */
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.navButton:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.hidden {
  visibility: hidden;
}